html {
  font-family: "Monaco";
  font-size: 2vw;
}

h1 {
  color: navy;
  font-family: "Impact";
  font-weight: bold;
  font-size: 10vw;
  margin: 20px;
}

h2 {
  font-family: "Impact";
  color: black;
  text-align: center;
}

h3 {
  font-family: "Impact";
  color: navy;
  font-size: 6vw;
}

#small {
  font-size: 1.5vw;
}

header {
  color: white;
}

#backgroundimage {
  top: 0;
  background-image: url('../images/surfbackdrop.jpg');
  /* https://fineartamerica.com/featured/surfing-at-hawaii-john-yato.html */
  background-size: 100% 100%;
  width: 100vw;
  height: 25vw;
  background-repeat: no-repeat;
}

#backgroundimage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 25vw;
    background-color: #333;
    width: 100%;
    position: absolute;
}

#backgroundimage li {
  list-style-type: none;
  float: left;
  border-right: 1px solid #bbb;
  color: white;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  padding: 12px 14px;
}

#backgroundimage li:last-child {
  border-right: none;
}

#backgroundimage li a{
  color: white;
  text-decoration: none;
}

#backgroundimage li a.active {
  padding: 10px 12px;
}

#backgroundimage li a:hover{
  background-color: blue;
  padding: 10px 12px;
}

#current_page {
  border-style: solid;
  text-decoration: none;
}

.main {
  width: 100%;
  position: relative;

}

.boxed {
  border: 1px solid black;
  padding: 2%;
  margin: 6%;
}


.main #marker1 {
  position: absolute;
  width: 8%;
  left: 0;
  top:35%;
}
.main #marker2 {
  position: absolute;
  width: 8%;
  right: 8%;
  top:60%;
}
.main #marker3 {
  position: absolute;
  width: 8%;
  left: 8.5%;
  top:22%;
}
.main #marker4 {
  position: absolute;
  width: 8%;
  right: 43%;
  top:60%;
}

/* styling for the img citations */
.citation {
  font-size: 60%;
}

/* styling for the columns in history.php */
.column {
  float: left;
  width: 33%;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
}
/* to clear floats after column */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* for centered content */
#content {
  text-align: center;
}

/* styling for the button on submit.php that goes back to gear.php*/
.button1 {
    font-family: "Impact";
    background-color: white;
    border: 2px solid black;
    font-size: 2vw;
}
.button1:hover {
    background-color: black;
    color: white;
}
