html {
  font-family: "Courier New";
}

h1 {
  color: navy;
  font-weight: bold;
  font-size: 10vw;
  margin-top: -50px;
  bottom: 20px;
}

h2 {
  color: #4682B4;
}

article p {
  text-align: justify;
}

header {
  padding-top: 80px;
  height: 200px;
  background-image: url('../images/surfbackdrop.jpg');
  /* https://fineartamerica.com/featured/surfing-at-hawaii-john-yato.html */
  background-size: 100% 100%;
}

#menu-font {
  color: white;
}

#menu {
  display: inline;
}

#menu ul {
  margin-top: 110px;
  padding: 40px;
  list-style: none;
  background-color: #0C0F73;
}

#menu li {
  margin: 0;
  padding: 10px;
  display: inline;
}

#menu li a{
    text-decoration: none;
    color: white;
  }

body {
  background-color: powderblue;
  margin: 0 auto;
}

#database {
  float: right;
}

#current_page {
  font-weight: bold;
  border-style: solid;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}
